body{
    background-color: antiquewhite;
}

.completoincompleto{
    background-color: rgb(235, 226, 214);
}
.task{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  gap: 10px;
  width: 10rem;
  background-color: #fdfde7;
  margin: 5px auto;
}

.task:hover {
  background-color: #f9fc56;
}





